*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: arial
}

.clearfix::after{
    content: '' ;
    display: table;
    clear: both;
}

.container{
    width: 80%;
    margin: 0 auto;
}

#logo img{
    height: 70px;
    padding-right: 30px;
    border-right: 1px solid rgb(211, 211, 211);
}
nav{
    margin-top: 30px;
}
nav ul li{
    display: inline-block;  
    list-style-type: none; 
    text-transform: uppercase;
    padding-right: 10px;
    font-size: 18px;
    font-weight: 200;
}

nav a{
    text-decoration: none;
    color: rgb(139, 139, 139);
}